<a href="/">
  <div class="header green">
    <i class="fas fa-weight"></i> Measure
  </div>
</a>

<div class="content">
  <table class="body">
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Body Fat</th>
      <th></th>
    </tr>   
    <tr>
      <form action="/measure/add" method="post" >
        <td><input name="day" type="date" value="<%= @today %>" /></td>
        <td><input name="weight" type="tel" /></td>
        <td><input name="body_fat" type="tel" /></td>
        <td>
          <button type="submit">
            <a class="dark" href=""><i class="fas fa-plus-circle"></i></a>
          </button>
        </td>
      </form>
    </tr>
    <% @measurements.each do |measurement| %>
    <tr>
      <td><%= measurement[:day] %></td>
      <td><%= measurement[:weight] %> lbs</td>
      <td><%= measurement[:body_fat] %>%</td>
      <td>
        <form action="/measure/<%= measurement[:id] %>/delete" method="post" class="delete">
          <button type="submit" class="light-text">
            <i class="fas fa-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</div>
