<a href="/">
  <div class="header yellow">
    <i class="fas fa-chart-line"></i> Progress
  </div>
</a>

<div class="content">
  <h1 class="center">
    <i class="fas fa-calendar-day"></i>
    <a href="/progress/exercise"><i class="fas fa-dumbbell light-text"></i></a>
  </h1>
  <br>

  <% @dates_instances.each_with_index do |date_instance, idx| %>
  <h3 class="yellow-text center" onclick="toggle_visiblity(<%= idx %>)"><%= date_instance[0] %></h3>
  <table class="progress" id="<%= idx %>">
    <tr>
      <th>Exercise</th>
      <th>Reps</th>
      <th><i class="fas fa-weight-hanging"></i></th>
    </tr>
    <% date_instance[1].each do |instance| %>
    <tr>
      <td><%= instance[:exercise_name] %></td>
      <td><%= instance[:completed_reps] %></td>
      <td><%= instance[:lifted_weight] %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>