<p><a href='/'>back</a></p>
<p>Username: <%= @user[:name] %></p>

<h2>Workouts:</h2>
<table border='1' cellspacing='0' cellpadding='5'>
  <tr>
    <th>name</th>
    <th>notes</th>
    <th>last_completed</th>
    <th>last_trained</th>
    <th></th>
  </tr>
  <tr>
    <form action='/user/<%= @user[:id] %>/workouts/new' method='post'>
      <td><input type='text' name='name'></td>
      <td><input type='text' name='notes'></td>
      <td></td>
      <td></td>
      <td><input type="submit" value="add workout"></td>
    </form>
  </tr>
  <% @workouts.each do |workout| %>
  <tr>
    <td><%= workout[:name] %></td>
    <td><%= workout[:notes] %></td>
    <td><%= workout[:last_completed] %></td>
    <td><%= workout[:last_trained] %></td>
    <form action='/user/<%= @user[:id] %>/workout/<%= workout[:id] %>/do' method='post'>
      <td>
        <input type="submit" value="do workout">
      </td>
    </form>
  </tr>
  <% end %>
</table>

<br>
<h2>Health Stats Log:</h2>
<table border='1' cellspacing='0' cellpadding='5'>
  <tr>
    <th>date</th>
    <th>weight</th>
    <th>body fat</th>
    <th></th>
  </tr>
  <tr>
    <form action='/user/<%= @user[:id] %>/health_stat/new' method='post'>
      <td><input type='date' name='day'></td>
      <td><input type='number' name='weight'></td>
      <td><input type='number' name='body_fat'></td>
      <td><input type="submit" value="add entry"></td>
    </form>
  </tr>
  <% @health_stats.each do |health_stat| %>
  <tr>
    <td align='center'><%= health_stat[:day] %></td>
    <td align='center'><%= health_stat[:weight] %> lbs</td>
    <td align='center'><%= health_stat[:body_fat] %>%</td>
    <form action='/user/<%= @user[:id] %>/health_stat/delete/<%= health_stat[:id] %>' method='post'>
      <td>
        <input type="submit" value="delete entry">
      </td>
    </form>
  </tr>
  <% end %>
</table>

<br>
<form action='/user/<%= @user[:id] %>/delete' method='post'>
  <input type="submit" value="delete user">
</form>